<div class="edit-wrapper jumbotron"> 
  <span>ADD A NEW NAME</span>
  <form (submit)="add()">
    <!-- NAMES -->
    <div class="edit-box"> 
      <div class="form-group has-success">
          <!-- <label class="form-control-label" for="inputSuccess1">English Name</label> -->
          Name in Syriac<input type="text" value="{{newName.syr_word}}" class="form-control is-valid" id="inputValid" name="newName.syr_word"[(ngModel)]="newName.syr_word">
          Name in Arabic<input type="text" value="{{newName.arb_word}}" class="form-control is-valid" id="inputValid" name="newName.arb_word"[(ngModel)]="newName.arb_word">
          Name in English<input type="text" value="{{newName.eng_word}}" class="form-control is-valid" id="inputValid" name="newName.eng_word"[(ngModel)]="newName.eng_word">
      </div>
    </div>
    <!-- MEANING AND DESC -->
    <div class="edit-box">
      <div class="form-group has-success">
        Meaning<input type="text" value="{{newName.meaning}}" class="form-control is-valid" id="inputValid" name="newName.meaning" [(ngModel)]="newName.meaning">
        Description in Arabic<input type="text" value="{{newName.arb_desc}}" class="form-control is-valid" id="inputValid" name="newName.arb_desc"[(ngModel)]="newName.arb_desc">
        Description in Syriac<input type="text" value="{{newName.eng_desc}}" class="form-control is-valid" id="inputValid" name="newName.eng_desc"[(ngModel)]="newName.eng_desc">
      </div>
    </div>
    <!-- GENDER /VARI -->
    <div class="edit-box">
      <div class="form-group has-success">
        Variations<input type="text" value="{{newName.variations}}" class="form-control is-valid" id="inputValid"name="newName.variations" [(ngModel)]="newName.variations">
        
        <legend>Gender</legend>
          <!-- <div *ngFor="let gndr of ['male','female','neutral']">
              <input type="radio" name="gender" [checked]="gndr==newName.gender" >
              <label  value="gndr">{{gndr}}</label>
          </div> -->
          <div>
            <input type="radio" name="newName.gender"value="male" [(ngModel)]="newName.gender">
            <label >Male</label>
          </div>
          <div>
            <input type="radio" name="newName.gender"value="female" [(ngModel)]="newName.gender">
            <label >Female</label>
          </div>
          <div>
            <input type="radio" name="newName.gender"  value="neutral" [(ngModel)]="newName.gender"checked>
            <label >Neutral</label>
          </div>
      </div>
    </div>
    <!-- STATUS -->
    <div class="edit-box">
      <div class="form-group has-success">
        <legend>Status</legend>
        <p><input type="radio" value="approved" name="newName.status" [(ngModel)]="newName.status" >
          <label checked>approved</label>
        </p>
        <p>
        <input type="radio" value="pending" name="newName.status" [(ngModel)]="newName.status" >
          <label>pending</label>
        </p>
        <p>
        <input type="radio" value="undefined" name="newName.status"[(ngModel)]="newName.status" >
          <label>undefined</label>
        </p>
      </div>
    </div>
    <!-- CATEGORIES -->
    <div class="edit-box">
      <fieldset class="form-group">
        <legend>Categories</legend>
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="1"name="categories['1']" [(ngModel)]="categories[1]" checked="" >Historic
          </label>
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="2" name="categories['2']" [(ngModel)]="categories[2]" checked>religious
          </label>
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="8"name="categories['8']" [(ngModel)]="categories[8]" >short
          </label>
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="3"name="categories['3']" [(ngModel)]="categories[3]" >poetic
          </label>
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="5" name="categories['5']" [(ngModel)]="categories[5]" >nature
          </label>
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="6" name="categories['6']" [(ngModel)]="categories[6]" >traditional
          </label>
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="4" name="categories['4']" [(ngModel)]="categories[4]" >creative
          </label>
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="7" name="categories['7']" [(ngModel)]="categories[7]" >non-syriac
          </label>
      </fieldset>        
    </div>
    <!-- Source -->
    <div class="edit-box">
      <div class="form-group has-success">
        Sources<input type="text" value="{{newName.src}}" class="form-control is-valid" id="inputValid" name="newName.src" [(ngModel)]="newName.src">
      </div>
    </div>
    <!-- SUBMIT -->
    <div class="edit-box">
      <button type="submit" class="btn btn-success">Submit</button>
      <button class="btn btn-warning" (click)="hideAdd()">Cancel</button>
    </div>
  </form>
</div>
    
      
    
    